
.grid {
	overflow: auto;
	height: auto;
	width: auto;

}

.square {
	height: 50px;
	width: 50px;
	background-color: gray;
	border: 1px solid #000;
	display: inline-block;

}

.new_row {
	border: 0px;
	}
