
#grid {
	overflow: auto;
	width: 960px;
	height:960px;
	border: none;
	margin:auto;
	margin-bottom:50px;

}

.square {

	background-color: gray;
	border: .05px solid #000;
	float:left;
	
}



.hilite {

	background-color:blue;
	border: 1px solid #000;
	display: inline-block;

}

#button {
    padding:20px;
    height: auto;
    width: 960px;
    background-color:#A9D9A7;
}

#butt {
    align: center;
    height:40x;
    width:auto;
    background-color:orange;
    text-decoration:none;
}

.cent {
    
    align:center;
    display:inline;
}